:root {
  --text-dark: #463641;     
  --primary-pink: #F4BCE5;
  --light-pink: #FBEAF7;
  --extra-light-pink: #FCF3F8;
  --bg-white: #FDFBFB;
  --white: #FFFFFF;
  
  --font-heading: 'Jomolhari', serif;
  --font-body: 'Manrope', sans-serif;
  --font-caption: 'Jaldi', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--bg-white);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: var(--font-body);
}

#root {
  width: 100%;
  min-height: 100vh;
}