/* Скидаємо стандартні Vite-стилі */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Фон всієї сторінки */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background: #f5f5f5; /* як у макеті */
  color: #000;
}

/* Кореневий контейнер займає весь екран */
#root {
  min-height: 100vh;
}
