/* ================= HEADER ================= */
.header {
  width: 100%;
  height: 70px;
  padding: 0 40px;
  background: #FBECF7 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7d0e1;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.logo {
  transform: scale(0.7);
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 25px ;
  margin-left: 40px;
}

.logo-wrapper {
  margin-left: 30px;
}

.profile-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  background: none;
  border: none;
  cursor: pointer;
}

.profile-label {
  font-size: 12px;
  color: black;
  margin-top: 2px;
}
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;

  font-size: 28px;     /* ключове */
  line-height: 1;     /* ключове */
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}